section.carousel {
    // width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #F5F5F5;

    img {
        width: 70%;
    }

    div {
        flex: 1;
        // width: 50%;
    }

    h4{
        margin-top: 124px;
        margin-left: 100px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;

        letter-spacing: 0.75px;

        color: #F6AA1C;


    }

    h1{
        margin-top: -5px;
        margin-left: 100px;

        font-family: 'Times';
        font-style: normal;
        font-weight: 800;
        font-size: 64px;
        line-height: 66px;
        /* or 103% */

        letter-spacing: 1px;

        /* dark-gray */

        color: #1F1F1F;
    }

    .fire{
        width: 50px;
        margin-left: 260px;
    }

    p{
        margin-top: -100px;
        margin-left: 100px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 34px;

        letter-spacing: 0.75px;

        color: #474747;
    }


}
